/**Shop**/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap');


.label.label-success {
    background: none repeat scroll 0 0 #22baa0;
}

.label.label-success {
    background: none repeat scroll 0 0 #22baa0;
    color: #fff;
    padding: 7px;
}

.text-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #9acffa;
    outline: 0;
	box-shadow: none !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(33,150,243,.25);
}

.text-control {
	display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f0f1f2;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.content .content-wrapper .content-header-title {
    float: left;
}
.btn-save {
    float: right;
    padding: 6px 15px;
}
.img-stud-pro {
	height: 150px;
    display: block;
    margin: 0 auto;
}
.text-area {
	display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f0f1f2;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.actions, .actions > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.actions > li > a {
    border: 1px solid #ddd;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    background: #fff;
}
.label-control {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto';
    color: #5f5f5fd1;
}
.actions > li > a {
    /* background: #fff; */
    height: 30px;
    width: 30px;
    text-align: center;
    position: relative;
    line-height: 30px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
}
.required {
	color: #B32225;
}
.form-section-h {
    margin-bottom: 20px;
    color: inherit;
	padding-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #f0f1f2;
}
.float-right {
	float: right;
}
.badge {
    display: inline-block;
    padding: 2px 7px;
    font-size: 85%;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
    -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-success {
    color: #fff;
    background-color: #16D39A;
}
.badge-danger {
    color: #fff;
    background-color: #C32A2D;
}
.badge-success:hover,.badge-danger:hover {
    color: #FFF;
}
/**Smart Recommendation**/

span.searin i {
    font-size: 18px;
}
span.searin input {
    height: 27px;
}
span.searin {
    font-size: 14px;
}
.text-center {
	text-align: center;
}

span.add, span.add_quote  {
    display: inline-block;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
	cursor: pointer;
    background: #108ff4;
}
span.remove, span.remove_quote {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	background: #108ff4;
	margin-top: 23px;
	color: white;
	border-radius: 7px;
}
.optionBox .block, .optionBox_quote .block_quote {
	margin-bottom: 10px;
}

/**Video Media **/
.video-media {
    padding: 7px;
	display: flex;
    background-color: #fff;
    border: 1px solid #f0f1f2;
    margin-bottom: 10px;
    border-radius: .25rem;
}
.align-items-center {
    align-items: center!important;
}
.video-media .video-lft-media {
    padding-right: .625rem;
}
.video-media .video-lft-media img{
	height: 60px;
	border-radius: 7px;
}
.video-media .video-body-media h5 a {
	color: rgba(57,68,77,.84);
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}
.video-media .video-body-media {
    flex: 1;
	padding-right: 7px;
}
.video-media .video-body-media .text-muted {
    color: #b8bdc2!important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.video-r-media ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.video-r-media ul li:first-child {
    margin-bottom: 5px;
}
.video-r-media ul li:first-child a {
	background: #0f81dc;
}
.video-r-media ul li:last-child a {
	background:#AD2D2F;
}
.video-r-media ul li a {
    color: #fff;
    font-size: 10px;
    padding: 3px;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 21px;
    border-radius: 4px;
}
.videos-list {
    max-height: 440px;
    overflow: auto;
}
.videos-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.videos-list::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.videos-list::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.btn-w100 {
	width: 100%;
}
.stats-dash .card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);
}
.stats-dash .card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
	color: #fff;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.stats-dash .media i {
	    float: left;
	color: #fff;
    font-size: 50px;
}
.text-right {
    text-align: right;
}
.modal-backdrop {
    background-color: #00000036 !important; 
}
body { padding-right: 0 !important }
